{% extends "base.html" %}
{% block title %}Users{% endblock %}

{% block content %}
<br/>

<div class="card border-dark">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2>Users</h2>
        <h2>Number of users: {{users|length}}</h2>
    </div>
    <br/>
    
    {% for l_user in users %}
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <img src="{{l_user.profile_picture}}" width=50, height=50>
                {% if l_user.username == "rez" %}
                    <a href="/profiles/{{l_user.id}}" style="color:red; padding-left:10px;">{{l_user.username}} [DEVELOPER]</a>
                {% else %}
                    <a href="/profiles/{{l_user.id}}" style="padding-left:10px;">{{l_user.username}}</a>
                {% endif %}

            </div>
        </div>

        <br/>
        {% endfor %} 
</div>

{% endblock %}